﻿@model eCommerce.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<div class="row">
    <div class="col-md-8 product-details">
        <h2>Product Name</h2>
        <p>
            Product Description
        </p>
        <p>
            MSRP: <s>MSRP as currency</s>
            <br/>
            Our Price: <span class="price">Price as currency</span>
            
            @*if our price is less than the msrp price, display the following*@
            @if(model.Price < model.MSRP){
                @*Percent savings between our price and the MRSP*@
                <div>
                    var savings = Model.MSRP / (model.MSRP - model.Price);
                    You save <span class="price">@savings.ToString("P")</span>
                </div>
            }
        </p>
    </div>
    <div class="col-md-4 product-images">
        <img class="img-rounded main-image" src="@model.ProductImages.First().ImageUrl" alt="@model.ProductImages.First().Caption" />
        <div class="thumbnails text-center">
            @*for each product image for the product....*@
            @foreach(var image in model.ProductImages){
                <div class="thumbnail">
                    <img src="image.ImageUrl" alt="image.Caption" />
                </div>
            }
        </div>
    </div>
</div>
<div>
    @*link to go back to the main products list*@
    <a href="@Url.Action("Index", "Products")" class="btn btn-default">Back to Products</a>
</div>

