﻿@model eCommerce.Models.Product
@{
    ViewBag.Title = "Index";
}

<h2>Our Products</h2>

<div class="row">
    @foreach(var product in model){
        <div class="col-md-4 text-center product-listing">
            <a href="@Url.ActionLink("Details", "Prodcuts", new { id = model.ProductId})"> 
                <img src="@model.ProductImages.First().ImageUrl" alt="@model.ProductImages.First().Caption" class="img-thumbnail">
                <span class="name">
                    <strong>@model.Name</strong>
                    </span>
                <span class="price">@model.Price.ToString(c)</span>
                <a class="btn btn-default" href="@Url.ActionLink("Details", "Prodcuts", new { id = model.ProductId})">More Info</a>
            </a>
        </div>
    }
</div>
